#hidden_iframe{
  display: none;
}

.full-w{
  width: 100%;
}
.pad-top{
  padding-top: 4%;
}
html, body{
  min-height: 100%;
  margin: 0px; /* Remove the margin around the body */
  overflow-x: hidden;
}

#background, #content{
  background: #fef4f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #fef4f6 0%, #f78ba0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fef4f6 0%,#f78ba0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fef4f6 0%,#f78ba0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef4f6', endColorstr='#f78ba0',GradientType=0 ); /* IE6-9 */
}

#content{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

#background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

// promo & footer

#footer{
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #f78ba0;
}

.footer{
  width: 100%;
  position: relative;
}

@media only screen and (min-width : 320px) {
  .promoimage{
    width: 140%;
    margin-left: -20%;
    padding-top: 2%;
  }
  .footer{
    right: -14%;
  }
}

@media only screen and (min-width : 992px) {
  .promoimage{
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    max-width: 900px;
    margin: 0 auto;
  }
  .footer{
    right: -45px;
    max-width: 900px;
    margin: 0 auto;
  }
}

// contest

#contest, #age-gate{
  label, .terms, .rules{
    font-family:'TwCenMT-Bold';
    text-transform: uppercase;
  }
  a{
    text-decoration: underline;
    color: black;
  }
  .disc{
    color: white;
    font-family: 'PlacardMT-BoldCondensed';
  }
  .submit-wrap{
    padding: 2% 0;
  }
  .disney-submit{
    background: url("https://s3.amazonaws.com/myfangate.com/rdallie/enterbutton.png") no-repeat scroll 0 0 transparent;
    background-size: cover;
    width: 190px;
    height: 60px;
    border-color: transparent;
  }
}

.form-control{
  border-radius: 20px;
  background-color: #f9e1e5;
  border-color: #d696a1;
}

.error{
  color: red;
}

#content, #footer{
  display: none;
}

.again-button{
  background-color: transparent;
  border: 6px solid white;
  border-radius: 12px;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  letter-spacing: -2px;
  font-family: 'TwCenMT-Bold';
  padding: 0 14px;
}

#thankyou{
  font-family: 'TwCenMT-Bold';
  text-transform: uppercase;
  color: white;
}

// custom datepicker

.dtpicker-content{
  border-radius: 8px;
  box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.2);
  font-family: 'PlacardMT-BoldCondensed';
}

.dtpicker-button{
  border-radius: 5px;
}

.dtpicker-compOutline{
  border: 1px solid #ccc;
  border-radius: 11px;
  margin-left: 1.65% !important;
  margin-right: 1.65% !important;
  overflow: hidden;
  background: #d3d3d3 !important;
  background: -moz-linear-gradient(top,  #d3d3d3 15%, #ffffff 50%, #d3d3d3 85%) !important;
  background: -webkit-linear-gradient(top,  #d3d3d3 15%,#ffffff 50%,#d3d3d3 85%) !important;
  background: linear-gradient(to bottom,  #d3d3d3 15%,#ffffff 50%,#d3d3d3 85%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 ) !important;
}

.dtpicker-comp3 {
    width: 30% !important;
}

.increment, .decrement{
  display: block;
  text-decoration: none !important;
  background-color: #E5E5E5 !important;
  color: #333333 !important;
  margin: 40px auto !important;
  position: relative !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(102, 102, 102, 0.5), 0 2px 1px rgba(255, 255, 255, 0.6) !important;
  width: 110%;
  margin-left: -5% !important;
  text-decoration: none;
}

.increment{
  margin-top: -5px !important;
}
.decrement{
  margin-bottom: -4px !important;
}

.dtpicker-compValue{
  color: black !important;
  background-color: transparent !important;
}
