/***
  Custom styling
***/
$primaryColor: #a81026;
$secondaryColor: #1d82d2;
$accentColor: #000000;
$errorColor: #000000;
$buttonColor: #000000;
@font-face {
  font-family: 'Prize_Font';
  src: url('../fonts/Ranger_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
body{ // background image:
  // background-image: url('https://placehold.it/900x2000');
}
.disney-submit{ // contest form submit button:
  background-image: url("https://placehold.it/190x87");
}

/***
  General styling
***/
html, body{
  min-height: 100%;
  margin: 0px; /* Remove the margin around the body */
  overflow-x: hidden;
}
body{
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
}
#background{
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

// custom classes
.content { // hide content untill gate is opened
  display: none !important;
}
.hidden{ // make element hidden
  display: none !important;
}
.full-w{ // make full width
  width: 100% !important;
}
.pad-top{ // add padding to the top of an element
  padding-top: 4% !important;
}
.margin-top{ // add margin to the top of an element
  line-height: 30px !important;
}
.row-padding{ // set padding on row to compensate for bootstrap row margin
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.img-responsive{
  margin: 0 auto;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// typography
.primary-text{ // primary text color from primary color (as defined by scss)
  color: $primaryColor !important;
}
.secondary-text{ // secondary text color from secondary color (as defined by scss)
  color: $secondaryColor !important;
}
.accent-text{ // accent text color from accent color (as defined by scss)
  color: $accentColor !important;
}
i.normal-text{ // remove italic styling from <i> tag
  font-style: inherit;
}

#contest, #age-gate, #word-gate{
  label{
    font-family:'FuturaStd-CondensedBold';
    text-transform: uppercase;
  }
  label.error.valid{
    display: none !important;
  }
  .disney-submit{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 0;
    background-size: cover;
    width: 190px;
    height: 87px;
    border-color: transparent;
  }
  .phone-asterix{
    font-family:'PlacardMT-Condensed';
  }
  .contest-terms{
    text-transform: uppercase;
    font-family:'PlacardMT-Condensed';
  }
}
#age-gate{
  label.error{
    display: none !important;
  }
}

/***
  styling for submit and gate buttons
***/
.again-button, .gate-btn{
  border: 6px solid $buttonColor;
  color: $buttonColor;
  background-color: transparent;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'FuturaStd-CondensedBold';
  padding: 0 14px;
}
/***
  styling for disney's terms and conditions at bottom of app
***/
.disney-terms{
  font-family:'PlacardMT-Condensed';
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: lighter;
}
#terms-container{
  h4{
    font-family:'FuturaStd-CondensedBold';
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto !important;
  }
  margin-top: 2%;
  margin-bottom: 2%;
}



//header prize lists
.list-header{
  font-size: 3rem !important;
}
// entry and grand prize list style
ul.styled-list, ul.styled-list>li{
  font-size: 1.75rem; //fallback
  font-weight: 500;
  font-family:'Prize_Font';
  list-style: none;
  margin-bottom: 0;
}
.not-eligible{
  color: $primaryColor;
  font-family:'PlacardMT-Condensed';
  text-transform: uppercase;
  span{
    text-decoration: underline;
  }
}

#thankyou{
  font-family: 'PlacardMT-Condensed';
  text-transform: uppercase;
  color: $primaryColor;
}



/***
  styling for custom date picker
***/
// birthday input pointer
.form-control[readonly]{
  cursor: pointer;
  background-color: #fff;
}
// custom datepicker
.dtpicker-content{
  border-radius: 8px;
  box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.2);
  font-family: 'PlacardMT-Condensed';
  background-color: #f3f3f3 !important;
}
.dtpicker-button{
  border-radius: 5px;
}
.dtpicker-compOutline{
  border: 1px solid #ccc;
  border-radius: 11px;
  margin-left: 1.65% !important;
  margin-right: 1.65% !important;
  overflow: hidden;
  background: #d3d3d3 !important;
  background: -moz-linear-gradient(top,  #d3d3d3 15%, #ffffff 50%, #d3d3d3 85%) !important;
  background: -webkit-linear-gradient(top,  #d3d3d3 15%,#ffffff 50%,#d3d3d3 85%) !important;
  background: linear-gradient(top,  #d3d3d3 15%,#ffffff 50%,#d3d3d3 85%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 ) !important;
}
.dtpicker-comp3 {
  width: 30% !important;
}
.increment, .decrement{
  display: block;
  text-decoration: none !important;
  background-color: #E5E5E5 !important;
  color: #333333 !important;
  margin: 40px auto !important;
  position: relative !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(102, 102, 102, 0.5), 0 2px 1px rgba(255, 255, 255, 0.6) !important;
  width: 110%;
  margin-left: -5% !important;
  text-decoration: none;
}
.increment{
  margin-top: -5px !important;
}
.decrement{
  margin-bottom: -4px !important;
}
.dtpicker-compValue{
  color: black !important;
  background-color: transparent !important;
}
.dtpicker-title, .dtpicker-close, .dtpicker-value{
  color: black !important;
}
.dtpicker-buttonSet{
  background-color: #3c9d3e !important;
  text-transform: uppercase;
}
.dtpicker-buttonClear{
  background-color: #c02133 !important;
  text-transform: uppercase;
  text-decoration: none;
}
