@font-face {
    font-family: 'cubanoregular';
    src: url('../fonts/cubano-regular-webfont.eot');
    src: url('../fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano-regular-webfont.woff2') format('woff2'),
         url('../fonts/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano-regular-webfont.svg#cubanoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family:'PlacardMT-Condensed';
  src: url('../fonts/PlacardMT-Condensed_gdi.eot');
  src: url('../fonts/PlacardMT-Condensed_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlacardMT-Condensed_gdi.woff') format('woff'),
    url('../fonts/PlacardMT-Condensed_gdi.ttf') format('truetype'),
    url('../fonts/PlacardMT-Condensed_gdi.svg#PlacardMT-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
