<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <form role="form">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="firstname" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="lastname" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="email">E-mail Address</label>
        <input type="email" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="birthday" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="pwd">
      </div>
      <div class="text-center">
        <p>By entering I acknowledge that I have read, understand</p>
        <p>and agree to the Official Rules and the Terms of Use.</p>
      </div>
      <div class="text-center pad-top">
        <p>*Phone numbers are optional and will only be used to contact the winner.</p>
        <p>Entering a phone number does not increase the chances of winning.</p>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <p class="text-center">
        <a href="#">Official Rules</a>
      </p>
    </form>
  </div>
</div>
