<div id="gate" class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 pad-top">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/rdallie/gatehead.png">
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 pad-top">
    <form id="age-gate" role="form">
      <div class="form-group text-center">
        <label for="birthday">What is your birthday?</label>
        <input type="text" name="birthday" value="" class="form-control datepicker" id="entry_328909515" dir="auto" aria-label="Birthday  " title="" required data-field="date" readonly>
      </div>
      <div class="submit-wrap text-center">
        <button type="submit" class="disney-submit"></button>
      </div>
      <p class="text-center">
        <a class="rules" href="#" target="_blank">Official Rules</a>
      </p>
    </form>
  </div>
</div>
