<div id="gate" class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <img class="full-w" src="/images/radio-disney-logo.svg.png">
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 pad-top">
    <form id="age-gate" role="form">
      <div class="form-group text-center secondary-text">
        <label for="birthday">What is your birthday?</label>
        <input id="birthday-input" placeholder="MM/DD/YYYY" type="text" name="birthday" value="" class="form-control datepicker text-center" id="entry_328909515" dir="auto" aria-label="Birthday" title="" required data-field="date" readonly>
      </div>
      <!-- gate submit button -->
      <div class="submit-wraper text-center">
        <button type="submit" class="gate-btn">GO</button>
      </div>
      <!-- contest terms and conditions -->
      <%= partial 'partials/terms' %>
    </form>
  </div>
</div>
