---
title: Radio Disney - Boilerplate
---
<div id="background"></div>
<div class="container-fluid">
  <%= partial 'partials/header' %>
  <div id="content-container">
    <%= partial 'partials/prize' %>
    <div class="container">
      <div class="row row-padding">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <iframe name="hidden_iframe" id="hidden_iframe" class="hidden"></iframe>
        </div>
        <%= partial 'partials/form' %>
        <br>
        <%= partial 'partials/terms' %>
      </div>
    </div>
  </div>
</div>
