---
title: Radio Disney Country - Cruising Into The Holidays
---
<div id="background" class="blue-gradient"></div>

<div class="container-fluid content">
  <%= partial 'partials/header' %>
</div>
<div class="container content">
  <%= partial 'partials/contest' %>
</div>
<%= partial 'partials/gate' %>
