---
title: Middleman 4 Boilerplate
---
<div id="background"></div>

<div class="container">
  <%= partial 'partials/header' %>
  <%= partial 'partials/promo' %>
</div>

<%= partial 'partials/footer' %>
