---
title: Play It Forward >>> Sweepstakes
---
<div id="background"></div>

<div id="content" class="container">
  <%= partial 'partials/header' %>
  <%= partial 'partials/contest' %>
</div>
<%= partial 'partials/gate' %>
