---
title: Sounds of Summer - Dan + Shay
---
<div id="background" class="blue-gradient"></div>

<div class="container">
  <%= partial 'partials/header' %>
</div>
<div class="container-fluid">
  <%= partial 'partials/prizing' %>
</div>
<div class="container">
  <%= partial 'partials/contest' %>
</div>
<%= partial 'partials/gate' %>
